@font-face {
    font-family: 'CustomFont';
    src: url('jf-openhuninn-2.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0e6d2 url('./../bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.calculator {
    background: rgba(255, 245, 238, 0.9);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 2px solid #8b4513;
    margin: 0 auto;
}

h1,
h3 {
    font-family: 'CustomFont', arial, sans-serif;
    text-align: center;
    color: #8b4513;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

label,
select,
input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

select,
input {
    padding: 0.5rem;
    border: 1px solid #8b4513;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
    color: #3a3a3a;
    font-family: 'CustomFont', 'Times New Roman', serif;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #8b4513;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #8b4513;
    cursor: pointer;
    border-radius: 50%;
}

.result {
    text-align: center;
    font-size: .8rem;
    margin-top: 1.5rem;
    background: rgba(139, 69, 19, 0.1);
    padding: .8rem;
    border-radius: 5px;
    line-height: 1.6;
}

.result span {
    color: #d35400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.rarity-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.rarity-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 1rem;
}

.rarity-select {
    flex-grow: 1;
}

.error {
    color: #c0392b;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

header,
footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: .3rem 0;
    width: 100%;
}

.navbar {
    padding: 0.2rem .2rem;
}

.navbar-brand {
    font-size: small;
}

.navbar .navbar-brand {
    color: #4592af;
}

.navbar .navbar-brand:hover {
    color: #c0392b;
}

footer {
    text-align: center;
    margin-top: auto;
}

.youtube-embed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.author,
.source {
    text-align: center;
    font-size: 0.8rem;
    color: #3a3a3a;
    margin-bottom: 0.2rem;
}

.source {
    font-size: 0.7rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.social-media {
    text-align: right;
}

.social-media-link {
    color: #999999;
    text-decoration: none;
    margin: 0 3px;
}

.social-media-link:hover {
    color: #ff6600;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}